body {
  padding: 100px;
  font-size: 16px;
  font-family: "Papyrus", fantasy;
}
h1 {
  padding-bottom: 1em;
}
h2 {
  padding-bottom: 2em;
}
#canvas {
  position: relative;
  height: 80vh;
  width: 80vw;
}
#overlay {
  position: absolute;
  top: 20px;
  left: 100px;
  color: #fff;
  text-align: center;
}
#overlay2 {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 100px;
  color: #fff;
  text-align: center;
}
.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  margin: 0.4em;
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.neonBox {
  animation: flicker 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em 1em 0.4em 1em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  color: #700999;
  font-family: "Papyrus", fantasy;
  margin: 0.4em;
}
p {
  position: absolute;
  top: 10px;
  left: 10px;
}
